/TrafficSimulator/Debug
/TrafficSimulator/TrafficSimulator.vcxproj.user
/TrafficSimulator/TrafficSimulator.opensdf
/TrafficSimulator/TrafficSimulator.sdf
/TrafficSimulator/TrafficSimulator.suo
/TrafficSimulator/Release
/TrafficSimulator/TrafficSimulator.aps
